



::-webkit-scrollbar{
    display: none;
}

/*-----------------------------------*/

        /* MENU VERTICAL */

/*-----------------------------------*/

.nav-item{
    margin-top: 5px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique; 
    font-size: 17px;
    color:rgb(141, 84, 9);
    transition: 0.5s;
   
}

.nav-item:hover{
    text-decoration: none;
    padding: 5px 10px;
    color: white;
    background:rgb(141, 84, 9);
    border-radius:15px;
}

.nav-link {
    color:rgb(141, 84, 9);
    transition: 0.5s;
  
    
}
.nav-link:hover{
    color:white;
}

.bg{
    background: rgba(243, 142, 10, 0.103);
}

/*-----------------------------------*/

        /*TITULOS*/

/*-----------------------------------*/
.titulo, 
.titulo-agregar,
.titulo-editar, 
.titulo-publicaciones{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
}

.h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 35px;
    margin: 20px;
    color:rgb(141, 84, 9);
}

/*-----------------------------------*/

       /*NAVBAR*/

/*-----------------------------------*/

.navbar {
    background: rgb(141, 84, 9);
 
}

.titulo, 
.titulo-agregar,
.titulo-editar, 
.titulo-publicaciones{
    color: white;
    transition: 0.5s;
}

.titulo:hover{
    color: white;
    font-size: 26px;
}


/*-----------------------------------*/

       /*USUARIOS ACTIVOS*/

/*-----------------------------------*/




.table{
    color: rgb(141, 84, 9);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 18px;
}


th{
   
    color: rgb(141, 84, 9);
    
}

tbody{
    background: rgb(141, 84, 9);
   
}

td{
    color: rgba(8, 8, 8, 0.945);
}




/*-----------------------------------*/

             /*AGREGAR*/

/*-----------------------------------*/


.agregar-form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
 
  
}

.agregar-input{
    display: flex;
    flex-direction: column;

    width: 500px;
    margin: 15px;
    margin-left: 250px;
    padding: 15px;

    border-radius: 50px 0px 100px 50px ;
    border: solid 2px rgb(141, 84, 9);
    outline: none;
    font-size: 17px;
    color: rgb(141, 84, 9);
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}

.agregar-input::placeholder{
    color: rgb(141, 84, 9);
}

.opciones{
text-align: center;
}



.agregar-boton{
   
    color: white;
    cursor: pointer;

    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;

    border: solid 2px rgb(141, 84, 9);
    border-radius: 100px 25px 100px 25px;
    background-color: rgb(141, 84, 9);
    outline: none;
    width: 500px;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 100px;
    padding: 10px;
}




/*-----------------------------------*/

    /*PUBLCIACIONES*/

/*-----------------------------------*/

.publicaciones .container {
    display: flex;
}

.productos {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}


.productos-publicados {
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
}

.icons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
    padding-top: 20px;
    
}

.editar {
    text-decoration: none;
    color: white;
 
   
}

.fas {
    cursor: pointer;
    padding: 20px;
}


/*---------------------------------------------*/


/*CAJA DE ZONAS*/


/*---------------------------------------------*/

.productos-publicados{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}



.caja-inmobiliaria {
    margin: 15px;
    margin-left: 50px;
    width: 350px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 0px 20px rgb(141, 84, 9);
    transition: 0.5s;
  
}
.desplazar{
    margin-left: 455px;
    margin-top: -6px;
    position: absolute;
    cursor: pointer;
}

.caja-contenido {
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(138, 84, 14, 0.692), rgba(211, 127, 32, 0.959));
    opacity: 0;
    border-radius: 10px;
    color: white;
    font-size: 15px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.5s;
    
   
}

.cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido-cabecera{
    margin-top: 2px;
    
}
.nombre{
    font-size: 25px;
}
.costo{
    margin-top: -15px;
    margin-bottom: 0px; 
    font-size: 20px;
}

.descripcion{
    margin-top: 10px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    text-align: left;
    overflow: auto;
    position: relative;
    padding: 10px;
    font-size: 17px;
    
}


.cuerpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    
}

hr {
    width: 100%;
    background: white;
    margin-top: 20px;
    
}


.caja-inmobiliaria:hover .caja-contenido {
    opacity: 1;
    padding: 10px;
    border-radius: 10px;
   transition: 1s;
    width: 500px;
    height: 300px;

}

.caja-inmobiliaria:hover{
    width: 500px;
}
