
/*---------------------------------------------*/


      /*IMNUEBLES ALQUILAR Y COMPRAR*/


/*---------------------------------------------*/




/*---------------------------------------------*/


              /*TITULOS*/


/*---------------------------------------------*/


.titulo-alquiler, .titulo-ventas{
font-size: 40px;

}


/*---------------------------------------------*/


        /*CAJA DE ZONAS*/


/*---------------------------------------------*/


.zonas{
    display: flex;
    justify-content: center;
    align-items: center;
}

