body {
    width: 100%;
    margin-left: 0px;
  
    font-size: 20px;
    background: white;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;

    background: url(../img/fondo5.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
    color: rgb(141, 84, 9);
   /*background-size: 100vw 100vh;*/
   

}


::-webkit-scrollbar{
    display: none;
}

/*-----------------------------------*/

             /*MENU*/

/*-----------------------------------*/





.menu .container{
    position:fixed;
    width:93%;
    left:0;
    top :0;
    margin-top:-10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px 20px 50px;
    background: rgba(240, 203, 152, 0.582);
    transition:0.5s;
   
   
}

.titulo-menu{
    width: 20%;
    font-size: 22px;
    
   
}


.menu-enlaces{
    display: flex;
    justify-content: space-between;
    
    
}

.enlaces-menu{
    display: flex;
    margin-left: 30px;
    justify-content: space-between;
    flex-direction: column;
    text-decoration: none;

    
}


.titulo-menu, a{
    text-decoration: none;
    color: rgb(141, 84, 9);
    transition: 0.5s;
}

.titulo-menu:hover{
    padding:none;
    color: rgb(141, 84, 9);
    background:none;
    border-radius:none;

  
}

 a:hover{
    
    padding: 5px 10px;
    color: white;
    background:rgb(141, 84, 9);
    border-radius:15px;

}



/*-----------------------------------*/

             /*DESARROLLO*/

/*-----------------------------------*/





.desarrollo .container{
    display: flex;
    flex-direction: column;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    
    
    
}



/*-----------------------------------*/

             /*BUSCADOR*/

/*-----------------------------------*/




.buscador-pizarra .container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: rgba(141, 84, 9, 0.192);
}

.buscador{
 margin-top:150px;
  display: flex;
  width: 300px;
  border-radius: 50px 0px 100px 50px;
  text-align: left;
  font-size: 15px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-style: oblique;
  padding: 10px;
  border: solid 2px rgb(141, 84, 9);
  color: rgb(141, 84, 9);
}


.buscador::placeholder{
    font-size: 16px;
    color: rgb(141, 84, 9);


}

/*-----------------------------------*/

             /*TITULOS*/

/*-----------------------------------*/


.titulo-ventas,
.titulo-alquiler,
.titulo-contacto{
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    font-size: 35px;
    margin: 10px;

    }


/*-----------------------------------*/

          /*ZONAS*/

/*-----------------------------------*/


.zonas-ventas .container, .zonas-alquiler .container{
    display: flex;
    height: 450px;
    background: rgba(141, 84, 9, 0.192);
}

.zonas{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 30px;
}



/*---------------------------------------------*/


/*VENTANA EMERGENTE*/


/*---------------------------------------------*/


.ventana-descripcion{
    overflow: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top:0px;
    left: 0px;
    background: rgba(138, 84, 14, 0.692);


    transition: all 500ms ease;

    display: block;

   
}

.cancelar{
    margin-left: 815px;
    margin-top: 4px;
    display: block;
    cursor: pointer;
    position: absolute;
}

.ventana-emergente{
    width: 850px;
    height: 2000px;
    margin: auto;
    margin-top: 40px;
    background: white;
    transition: o.5s;
    position: relative;
    border-radius: 10px;
    
}

.carrusel{
    border-radius: 10px;
    border: solid 1px;
    background-size: 100vw 100vh;
    width: 100%;
    height: 400px;

}
.descripcion-general{
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.encabezado-descripcion{
    display: flex;
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
    height: 150px;
}

.caracteristicas-descrpcion{
    display: flex;
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
    height: 300px;

}

.datos-descripcion{
    display: flex;
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
    height: 700px;

}

.ofertas-similares{

    display: flex;
    border-radius: 10px;
    border: solid 1px;
    width: 100%;
    height: 440px;

}



/*---------------------------------------------*/


/*CAJA DE ZONAS*/


/*---------------------------------------------*/

.caja-inmobiliaria {
    margin: 12px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
    background-size: cover;
    box-shadow: 0px 0px 20px rgb(141, 84, 9);
    margin-left: 40px;
    transition: 0.5s;
   
}
.desplazar{
    margin-left: 370px;
    display: inline;
    cursor: pointer;
}

.caja-contenido {
   
   
    width: 100%;
    height: 100%;

    background: rgba(138, 84, 14, 0.692);

    opacity: 0;
    transition: 1s;

    box-shadow: 0px 0px 5px rgba(141, 84, 9, 0.137);
    border-radius: 5px;

    color: white;
    font-size: 15px;
    font-style: oblique;
    font-family: 'Times New Roman', Times, serif;
    
   
}
.cabecera{
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.contenido-cabecera{
    margin-top: 2px;
    
}

.cuerpo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

hr {
    width: 100%;
    background: white;
    
}


.caja-inmobiliaria:hover .caja-contenido {
    opacity: 1;
    padding: 10px;
    margin-left: 100px;
    margin-top: 15px;
    transition: 0.5s; 
    width: 400px;
    height: 250px;
    
}


/*-----------------------------------*/

          /*CONTACTOS*/

/*-----------------------------------*/

.contactos .container {
    display: flex;
    text-align: center;
    padding-top: 30px;
    background: rgba(240, 203, 152, 0.582);
}
.informacion-contacto{
    display: flex;
    justify-content: space-between;
    margin: 50px;

}

.lista-contacto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 100px;
    margin-top: -100px;
}


.lista-informacion{
    display: flex;
    flex-direction: column;
    margin-left: 230px;
    justify-content: center;
    align-items: center;
}

.list-info{
    margin-bottom: 15px;
}


.preguntas{
    font-size: 25px;
    
}



.contacto-form{
display: flex;
justify-content: center;
flex-direction: column;


}

.contacto-input {
    margin-bottom: 30px;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    border-radius: 50px 0px 100px 50px;
    border: solid 2px rgb(141, 84, 9);
    color: rgb(141, 84, 9);
}


.contacto-input::placeholder{
    color: rgb(141, 84, 9);

}

.contacto-boton {
    border: solid 2px rgb(141, 84, 9);
    border-radius: 100px 25px 100px 25px;
    background-color: rgb(141, 84, 9);
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
}



/*-----------------------------------*/

            /*FOOTER*/

/*-----------------------------------*/

footer {

    text-align: center;
    padding: 10px;
    background: rgba(240, 203, 152, 0.582);
   margin-bottom: -10px;
    
}

footer p:hover {
    font-size: 20px;
    transition: 1s;
}

a img {
    background: white;
    border-radius: 100px;
}
