
/*-----------------------------------*/

        /* MENU VERTICAL */

/*-----------------------------------*/

.nav-item{
    margin-top: 5px;
    width: 100%;
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique; 
    font-size: 18px;
   
}
.nav-link {
    color:rgb(141, 84, 9);
}

.nav-item:hover{
    text-decoration: underline;
    color:rgb(141, 84, 9);
}

/*-----------------------------------*/

        /*TITULOS*/

/*-----------------------------------*/
.titulo, 
.titulo-agregar,
.titulo-editar, 
.titulo-publicaciones{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 25px;
}

.h2{
    font-family: 'Times New Roman', Times, serif;
    font-style: oblique;
    font-size: 35px;
    margin: 20px;
    color:rgb(141, 84, 9);
}

/*-----------------------------------*/

       /*NAVBAR*/

/*-----------------------------------*/

.navbar {
    background: rgb(141, 84, 9);
 
}
.titulo, 
.titulo-agregar,
.titulo-editar, 
.titulo-publicaciones{
    color: white;
    transition: 0.5s;
}

.titulo:hover{
    color: white;
    font-size: 26px;
}


/*-----------------------------------*/

       /*USUARIOS ACTIVOS*/

/*-----------------------------------*/
th{
    color: rgb(141, 84, 9);
}





/*-----------------------------------*/

             /*AGREGAR*/

/*-----------------------------------*/


.agregar-form{
    display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Times New Roman', Times, serif;
  font-style: oblique;
 
  
}

.agregar-input{
    display: flex;
    margin: 15px;
    flex-direction: column;
    width: 500px;
    margin-left: 250px;
    border-radius: 50px 0px 100px 50px;
    padding: 15px;
    font-size: 17px;
}


.agregar-boton{
    border-radius: 100px 25px 100px 25px ;
    border: rgb(141, 84, 9);
    background: rgb(141, 84, 9);
    color: white;
    padding: 10px;
    cursor: pointer;
    width: 500px;
    margin-left: 250px;
    margin-top: 20px;
    margin-bottom: 100px;
}




/*-----------------------------------*/

    /*PUBLCIACIONES*/

/*-----------------------------------*/